@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field {
  color: rgb(198, 198, 198);
  /* Change placeholder color */
  /* Make it semi-transparent */
}

input[type="date"],
input {
  border: 0.7px solid rgb(206, 206, 206);
}


/* Optional: Custom scrollbar styles */
.table-container::-webkit-scrollbar {
  height: 8px;
  /* Scrollbar height */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  /* Scrollbar thumb color */
  border-radius: 4px;
  /* Rounded corners for the scrollbar */
}